.bannerStyle {
  min-height: 300px;
  text-align: center;
  line-height: 300px;
}

.my-btn{

}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  color: white;
  left: 0;
  font-size: 2.5em;
}

.rightRs {
  color: white;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  right: 0;
  font-size: 2.5em;
}
