<mat-card>
  <mat-card-title>Cadastro de Cidades</mat-card-title>
  <mat-card-content>
    <form disabled="disable" [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <mat-select (change)="onChoseCountry($event)"
                    placeholder="Selecione um Pais"
                    formControlName="country" id="country">
          <mat-option *ngFor="let country of countries"
                      [value]="country">{{ country?.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Selecione um Estado" formControlName="state" id="state">
          <mat-option *ngFor="let state of states"
                      [value]="state">{{ state?.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" id="city" formControlName="city"
               placeholder="Nome da Cidade">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Cadastrar</button>

    </form>
  </mat-card-content>
</mat-card>


<mat-grid-tile [colspan]="2">
  <mat-list>
    <mat-list-item
      *ngFor="let state of statesList"
      (click)="onStateClick(state)">
      {{state.description}}
    </mat-list-item>
  </mat-list>
</mat-grid-tile>
<mat-grid-tile [colspan]="2">
  <mat-list>
    <mat-list-item
      *ngFor="let city of citiesList">
      {{city.description}}
    </mat-list-item>
  </mat-list>
</mat-grid-tile>

<mat-card>
  <mat-card-content>
    <mat-card-title>Cidades cadastrados</mat-card-title>
    <div
      fxLayoutWrap
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <div fxFlex="33.33" fxFlex.xs="100">
        <ngx-datatable class="material"
                       columnMode="flex"
                       [scrollbarV]="true"
                       [scrollbarH]="true"
                       [rows]="countries"
                       [rowHeight]="20"
                       [selectionType]="'single'"
                       (select)="onCountryClick($event)"
        >
          <ngx-datatable-column
            name="Descrição"
            prop="description"
            [draggable]="true"
            [resizeable]="true"
            [canAutoResize]="true"
            [sortable]="true">
            <div *ngFor="let row of countries">{{row.description}}</div>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
      <div fxFlex="33.33" fxFlex.xs="100">

        <ngx-datatable class="material"
                       [scrollbarV]="true"
                       [scrollbarH]="true"
                       [rowHeight]="40"
                       columnMode="flex"
                       [rows]="statesList"
                       [selectionType]="'single'"
                       (select)="onStateClick($event)"
        >

          <ngx-datatable-column
            name="Sigla"
            prop="abbrev"
            [draggable]="true"
            [resizeable]="true"
            [canAutoResize]="true"
            [sortable]="true">
            <div *ngFor="let row of statesList">{{row.abbrev}}</div>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Descrição"
            prop="description"
            [draggable]="true"
            [resizeable]="true"
            [canAutoResize]="true"
            [sortable]="true">
            <div *ngFor="let row of statesList">{{row.description}}</div>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
      <div fxFlex="33.33" fxFlex.xs="100">

        <ngx-datatable class="material"
                       columnMode="flex"
                       [scrollbarV]="true"
                       [scrollbarH]="true"
                       [rows]="citiesList"
                       [rowHeight]="40"
        >

          <ngx-datatable-column
            name="Descrição"
            prop="description"
            [draggable]="true"
            [resizeable]="true"
            [canAutoResize]="true"
            [sortable]="true">
            <div *ngFor="let row of statesList">{{row.description}}</div>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </mat-card-content>
</mat-card>
