<footer class="page-footer black footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Desenvolvimento:</h5>
        <p class="grey-text text-lighten-4">Desenvolvido por <a class="grey-text text-lighten-4"
                                                                href="https://www.linkedin.com/in/lucas-antonio-ramos-sartori-4a61b6116">Lucas
          A.R. Sartori</a> para a disciplina de TCC do curso de
          Tecnologia em Sistemas para Internet da UTFPR do campus de Guarapuava</p>
      </div>
      <div class="col l4 s6">
        <h5 class="white-text">Ferramentas utilizadas</h5>
        <ul class="col l4 s6">
          <li><a class="grey-text text-lighten-3" href="#!">Intellij idea ultimate</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Materialize</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Angular v4.x</a></li>
        </ul>
        <ul class="col l4 s6">
          <li><a class="grey-text text-lighten-3" href="#!">Wildfly 10</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">J2EE</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Jersey</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Hibernate</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright by
      <a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/lucas-antonio-ramos-sartori-4a61b6116">Lucas
        A.R. Sartori</a>
    </div>
  </div>
</footer>
