@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

$font: 'Old Standard TT', serif;
$background_color: #e1ad62;
$text_color:rgba(255, 255, 255, 0.8);

.footer{
  font-family: $font;
}

footer.page-footer .footer-copyright {
  padding: 10px 0px;
  color: $text_color;
  background-color: $background_color;
}
