<div fxFlex="50">
  <h2>Psicologos Credenciados</h2>
  <div *ngFor="let model of psychologistList">
    <mat-card>
      <mat-card-content>
        <mat-card-title>{{model.name | camelCase}}</mat-card-title>
        <div *ngFor="let modelAddress of model.addressList">
          <p>Cidade: {{modelAddress.city.description}}/{{modelAddress.city.state.abbrev}}</p>
          <p>Rua: {{modelAddress.street}} - {{modelAddress.addressNumber}}</p>
          <p>Bairro: {{modelAddress.neighborhood}} - {{modelAddress.cep}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxFlex="50">
  <h2>Instrutores de Tiro Credenciados</h2>
  <div *ngFor="let model of instructorList">
    <mat-card>
      <mat-card-content>
        <mat-card-title>{{model.name | camelCase}}</mat-card-title>
        <div *ngFor="let modelAddress of model.addressList">
          <p>Cidade: {{modelAddress.city.description}}/{{modelAddress.city.state.abbrev}}</p>
          <p>Rua: {{modelAddress.street}} - {{modelAddress.addressNumber}}</p>
          <p>Bairro: {{modelAddress.neighborhood}} - {{modelAddress.cep}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
