<div class="row">
  <div class="col s12 m6 l6">
    <a href="http://www.pf.gov.br/servicos-pf/armas/credenciamento-psicologos/psicologos-crediciados"><i
      class="fa fa-users fa-2x" aria-hidden="true"></i>Psicologos Credenciados</a>
  </div>
  <div class="col s12 m6 l6">
    <a
      href="http://www.pf.gov.br/servicos-pf/armas/credenciamento-de-instrutores/listagem-de-instrutores-de-armamento-e-tiro"><i
      class="fa fa-users fa-2x" aria-hidden="true"></i>Instrutores de Armamento e Tiro Credenciados</a>
  </div>
</div>
