<div *ngFor="let exam of exams">
  <mat-card>
    <mat-card-title>
      {{exam.examCategory.description}}
    </mat-card-title>
    <mat-card-content>
      <p><strong>Aplicador do exame: </strong>{{exam.examinator.name}}</p>
      <p><strong>Examinado: </strong>{{exam.civil.name}}</p>
      <p><strong>Laudo: </strong>{{exam.resultDescription}}</p>
      <p *ngIf="!exam.status" ><strong>Resultado Final: </strong> Indeferido</p>
      <p *ngIf="exam.status" ><strong>Resultado Final: </strong>Deferido</p>
    </mat-card-content>
  </mat-card>
</div>
