<mat-card>
  <mat-card-title>{{license.category.description}}</mat-card-title>
  <mat-card-content>


    <mat-horizontal-stepper
      linear="false"
      #stepper="matHorizontalStepper"
      interacted="false">
      <mat-step [cdkStepperNext]="steppInit(stepper)" >
        <ng-template matStepLabel>Processo Iniciado</ng-template>
      </mat-step>
      <mat-step [cdkStepperNext]="steppApproved(stepper)">
        <ng-template matStepLabel>Realizando Exames</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Licença Autorizada</ng-template>
      </mat-step>
    </mat-horizontal-stepper>



    <p><strong>Nome: </strong>{{license.user.name}}</p>
    <p><strong>Situação: </strong>{{licenseSituation(license.status)}}</p>
    <p><strong>Numero de serie: </strong>{{license.serial}}</p>
    <p><strong>Validade até: </strong>{{licenseExpiration(license.shelfLife)}}</p>
    <p><strong>Endereço: </strong>{{license.address.street}} - {{license.address.addressNumber}}</p>
    <p><strong>Cidade: </strong>{{license.address.city.description}}</p>
    <p><strong>Estado: </strong>{{license.address.city.state.description}} - {{license.address.city.state.abbrev}}</p>
    <p><strong>Pais: </strong>{{license.address.city.state.country.description}}</p>
    <mat-card-title>Exames requeridos para a licença</mat-card-title>
    <div *ngFor="let exam of license.category.requirement.exams">
      <p>{{exam.description}}</p>
    </div>
  </mat-card-content>
</mat-card>
