<mat-card>
  <mat-card-title><strong>{{license.category.description}}</strong></mat-card-title>
  <mat-card-content>
    <div fxLayoutWrap
         fxLayout.xs="row"
         fxLayout="column"
         fxLayoutAlign="space-around">
      <div fxFlex="100">
        <p><strong>Nome: </strong>{{license.user.name | camelCase}}</p>
      </div>
      <div fxFlex ="100" class="text-center">
        <p [ngClass]="isValid() ? 'valid' : 'invalid'"><strong>Situação: {{licenseSituation(license.status)}}</strong>
        </p>
      </div>
      <div fxFlex="50">
        <ngx-qrcode
          [qrc-value]="license.serial"
          qrc-class="aclass"
          qrc-errorCorrectionLevel="L">
        </ngx-qrcode>
      </div>
      <div fxFlex="50">
        <p><strong>Numero de serie: </strong>{{license.serial}}</p>
      </div>
      <div fxFlex="100">
        <p><strong>Validade até: </strong>{{licenseExpiration(license.shelfLife)}}</p>
      </div>
      <div fxFlex="100">
        <p><strong>Rua: </strong>{{license.address.street}} - {{license.address.addressNumber}}</p>
      </div>
      <div fxFlex="100">
        <p><strong>Estado: </strong>{{license.address.city.state.description}}</p>
      </div>
      <div fxFlex="100">
        <p><strong>Pais: </strong>{{license.address.city.state.country.description}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
