
$background_color: #e1ad62;
$text_color: rgba(255, 255, 255, 0.8);

.page-footer .footer-copyright {
  padding: 10px 0!important;
  color: $text_color!important;
  font-size: 10%!important;
  background-color: $background_color!important;
}
