<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <h5>Desenvolvimento:</h5>
      <p>Desenvolvido por <a href="https://www.linkedin.com/in/lucas-antonio-ramos-sartori-4a61b6116">Lucas
        A.R. Sartori</a> para a disciplina de TCC do curso de
        Tecnologia em Sistemas para Internet da UTFPR do campus de Guarapuava</p>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="footer">
      <div class="page-footer footer-copyright">
        © 2017 Copyright by
        <a href="https://www.linkedin.com/in/lucas-antonio-ramos-sartori-4a61b6116">Lucas
          A.R. Sartori</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
