<mat-toolbar color="primary">

 <span routerLink="/"><img height="55em" width="50em"
                           src="http://www.pf.gov.br/++resource++pf.internet.tema/logo-pf.png" alt="pf"></span>
  <span flex></span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <span class="nav" routerLinkActive="active"><a routerLink="/duvidas">
      <i class="fas fa-question"></i></a>
    </span>
    <span class="nav" routerLinkActive="active">
      <a routerLink="/validador">Validador</a>
    </span>
    <span class="nav" routerLinkActive="active">
      <a routerLink="/login" (click)="onClick()">{{ authService.checkLogin() ? 'Sair' : 'Entrar'}}</a>
    </span>
    <div *ngIf="authService.checkLogin()">
      <button mat-icon-button [matMenuTriggerFor]="menu" style="width: 10em;">
        <mat-icon>person_outline</mat-icon>
        <span> Olá {{currentUserName}}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="goToMyProfile()" mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Dados</span>
        </button>
        <button (click)="goToMyPage()" mat-menu-item>
          <i class="fas fa-home"></i>
          <span>Minha página</span>
        </button>
        <div *ngIf="isCivil()">
          <button (click)="goToUpdate()" mat-menu-item>
            <i class="fas fa-sync"></i>
            <span>Atualizar Dados</span>
          </button>
        </div>
        <div *ngIf="isExaminator()">
          <button (click)="goToEvaluate()" mat-menu-item>
            <i class="fas fa-history"></i>
            <span>Avaliações</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/duvidas">
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-menu-item routerLink="/validador">Validador</button>
  <button mat-menu-item (click)="onClick()" routerLink="/login">{{ authService.checkLogin() ? 'Sair' : 'Entrar'}}
  </button>
  <div *ngIf="authService.checkLogin()">
    <button mat-icon-button [matMenuTriggerFor]="menu" style="width: 10em;">
      <mat-icon>person_outline</mat-icon>
      <span> Olá {{currentUserName}}</span>
    </button>

    <button (click)="goToMyProfile()" mat-menu-item>
      <mat-icon>face</mat-icon>
      <span>Dados</span>
    </button>
    <button (click)="goToMyPage()" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Minha página</span>
    </button>
    <div *ngIf="isCivil()">
      <button (click)="goToUpdate()" mat-menu-item>
        <mat-icon>autorenew</mat-icon>
        <span>Atualizar Dados</span>
      </button>
    </div>

  </div>

</mat-menu>
