<mat-card>
  <mat-card-title>Seu endereço</mat-card-title>
  <mat-card-content>
    <form disabled="disable" [formGroup]="form" (ngSubmit)="addAddress()">
      <mat-form-field>
        <mat-select (change)="onCountryChose($event)"
                    placeholder="Informe o Pais"
                    formControlName="country" id="country">
          <mat-option *ngFor="let country of countries"
                      [value]="country">{{country?.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select (change)="onStateChose($event)"
                    placeholder="Informe o Estado"
                    formControlName="state" id="state">
          <mat-option *ngFor="let state of states"
                      [value]="state">{{state?.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select (change)="onCityChose()"
                    placeholder="Informe a Cidade"
                    formControlName="city" id="city">
          <mat-option *ngFor="let city of cities"
                      [value]="city">{{ city?.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput #postalCode maxlength="9" placeholder="CEP" id="cep" formControlName="cep"
               (blur)="getCEP()">
        <mat-hint align="end">{{postalCode.value.length}} / 9</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput id="bairro" formControlName="neighborhood" placeholder="Bairro">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="complement" id="complemento"
               placeholder="Complemento">
      </mat-form-field>

      <mat-form-field>
        <input matInput id="addressNumber" formControlName="addressNumber"
               placeholder="Numero">
      </mat-form-field>

      <mat-form-field class="midle-width">
        <input matInput id="rua" placeholder="Endereço" formControlName="street">
      </mat-form-field>

      <button mat-raised-button color="primary"  type="submit">Cadastrar</button>

    </form>
  </mat-card-content>
</mat-card>
