<section id="tools-section" class="tools home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33" class="wow slideInRight" data-wow-duration="2s">
        <mat-card class="p-0 m-0">
          <mat-card-title>
            <i class="gi gi-check gi-8x"></i>
          </mat-card-title>
          <mat-card-content>
            <h5><strong><a href="">Checagem de licenças</a></strong></h5>
            <mat-divider class="mb-1"></mat-divider>
            <button routerLink="/validador" mat-icon-button>
              <mat-icon class="text-muted">link</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33" class="wow slideInDown" data-wow-duration="2s">
        <mat-card class="p-0 m-0">
          <mat-card-title>
            <i class="fas fa-question fa-7x"></i>
          </mat-card-title>
          <mat-card-content>
            <p>
              Ficou com alguma duvida sobre o sistema, como é o processo para a obtenção das licenças, ou alguma outra
              duvida relacionada ao assunto?<br/>
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button routerLink="/faq" mat-icon-button>
              <mat-icon class="text-muted">link</mat-icon>
            </button>

          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33" class="wow slideInLeft" data-wow-duration="2s">
        <mat-card class="p-0 m-0">
          <mat-card-title>
            <i class="gi gi-gun gi-8x"></i>
          </mat-card-title>
          <mat-card-content>
            <h5><strong><a href="">Aquisição de Arma de fogo</a></strong></h5>
            <p>
              Deseja obter sua licenca mas ainda não tem canastro no nosso sistema?<br/>
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button routerLink="/registre-se" mat-icon-button>
              <mat-icon class="text-muted">link</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
