<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Sobre o nós</b></h4>
          <p>Desenvolvido para atender aos requisitos da disciplina de TCC do curso de Tecnologia em Sistemas para
            Internet e auxiliar a Poícia no brasil</p>
          <p>Sistema desenvolvido para o controle, emissão e validação de licenças de posse e porte de armas de
            fogo.</p>
          <div class="socials pt-1">
            <ul>
              <li><button mat-button href="https://br.linkedin.com/in/lucas-antonio-ramos-sartori-4a61b6116">
                <i class="fab fa-linkedin-in fa-2x"></i></button></li>
              <li><button mat-button href="https://twitter.com/LucasARSartori1"><i class="fab fa-twitter fa-2x"></i></button></li>
              <li>
                <button mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/faq'"><i
                  class="fas fa-question fa-2x"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
</footer>
