@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font_navbar: 'Open Sans', serif;
$background_color: #e1ad62;
$text_color: white;

.nav-content {
  color: $text_color;
  background-color: $background_color;
  font-family: $font_navbar;
  width: 100%;
  height: 40px;
  //line-height: 56px;
  text-align: justify;
}

