<mat-grid-list [cols]="4" rowHeight="400px">
  <mat-grid-tile [colspan]="2">
    <table>
      <thead>
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let model of modelList">
        <td><a (click)="onClickUser(model)">{{model.name}}</a></td>
        <td><a (click)="onClickUser(model)">{{model.role.description}}</a></td>
      </tr>
      </tbody>
    </table>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <div *ngIf="modelDetail != null">
      <app-shared-user-detail [gender]="modelDetail.gender" [model]="modelDetail"></app-shared-user-detail>
    </div>
  </mat-grid-tile>
</mat-grid-list>

