<section id="legislation-section" class="legislation home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <i class="gi gi-file-contract-o gi-8x"></i>
          <mat-card-content>
            <h5><strong><a href="">Estatuto do Desarmamento</a></strong></h5>
            <p>
              Deseja obter sua licenca mas ainda não tem canastro no nosso sistema?
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button routerLink="/registre-se" mat-icon-button>
              <mat-icon class="text-muted">link</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <i class="gi gi-file-contract-o gi-8x"></i>
          <mat-card-content>
            <h5><strong><a href="">PL 3722 - Revogação do Estatuto do Desarmamento</a></strong></h5>
            <p>
              Deseja obter sua licenca mas ainda não tem canastro no nosso sistema?
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button routerLink="/registre-se" mat-icon-button>
              <mat-icon class="text-muted">link</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
