<mat-card>
  <mat-card-content>
    <form disabled="disable" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" id="name" formControlName="description"
               placeholder="Nome do Exame">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Informe o nível de acesso" formControlName="role"
                    id="type">
          <mat-option *ngFor="let type of roles" [value]="type">{{type.description}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button="primary" type="submit">Cadastrar</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-list *ngIf="exams != null">
  <mat-list-item *ngFor="let exam of exams">{{exam.description}}</mat-list-item>
</mat-list>
