.home-cta {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

.bg1{
  background: url('../../../../assets/images/home-bg.jpg') no-repeat center center;
}

.bg2{
  background: url('../../../../assets/images/home-bg.jpg') no-repeat center center;
}
