<mat-card>
  <mat-card-content>
    <form disabled="disable" [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <mat-select placeholder="Selecione um pais" formControlName="country" id="country">
          <mat-option *ngFor="let country of countries" [value]="country">{{ country?.description }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" id="name" formControlName="name"
               placeholder="Nome do Estado">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" id="abbrev" formControlName="abbrev"
               placeholder="Sigla do Estado">
      </mat-form-field>

      <button mat-button="primary" type="submit">Cadastrar</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="2">
      <ngx-datatable
        [rows]="rowsCountry"
        [columns]="columnsCountry">
      </ngx-datatable>

  </mat-grid-tile>
  <mat-grid-tile *ngIf="rowsState.length < 0" [colspan]="2">
    <ngx-datatable
      [rows]="rowsState"
      [columns]="columnsState">
    </ngx-datatable>
  </mat-grid-tile>
</mat-grid-list>
