
<div class="card black">
  <div class="card-action">
    <ul>
      <li class=""><a class="" routerLink="agendamento" routerLinkActive="active">Agendamentos</a></li>
      <li class=""><a class="" routerLink="exames" routerLinkActive="active">Exames</a></li>
      <li class=""><a class="" routerLink="perfil" routerLinkActive="active">Meus Dados</a></li>
      <li class=""><a class="" routerLink="licencas" routerLinkActive="active">Minhas Licenças</a></li>
      <li class=""><a class="" routerLink="cadastro" routerLinkActive="active">Cadastro de Usuário</a></li>
    </ul>
  </div>
</div>
