<mat-card>
  <mat-card-title>Buscar Licença</mat-card-title>
  <mat-card-content>
    <form disabled="disable" [formGroup]="form">
      <mat-form-field>
        <span matPrefix>CPF: </span>
        <input (change)="onResetForm()" formControlName="cpf" matInput type="number" class="example-right-align">
      </mat-form-field>
      <mat-form-field>
        <span matPrefix>Licença: </span>
        <input (change)="onResetForm()" formControlName="serial" matInput type="text" class="example-right-align">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchBySerial()" type="submit">Buscar</button>
    </form>
  </mat-card-content>
</mat-card>
<div *ngIf="model != null">
  <mat-card>
    <mat-card-title>Dados pessoais</mat-card-title>
    <mat-card-content>
      <p> Nome: {{model.name}}</p>
      <p> CPF: {{model.cpf}}</p>
      <p> Sexo: {{model.gender.description}}</p>
      <p> Data de Nascimento: {{formatDate(model.dateOfBirth)}}</p>
      <p> E-mail: {{model.email}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Dados do exame</mat-card-title>
    <mat-card-content>
      <form disabled="disable" [formGroup]="examForm">
        <mat-form-field>
          <span matPrefix>Exame: </span>
          <mat-select formControlName="examType" id="exam">
            <mat-option *ngFor="let exam  of examCategories" [value]="exam">{{ exam?.description }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <span matPrefix>Resultado: </span>
          <mat-select formControlName="status" id="status">
            <mat-option *ngFor="let status of examStatusList" [value]="status.value">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
                <textarea matInput formControlName="resultDescription" placeholder="Laudo do exame"
                          matTextareaAutosize matAutosizeMinRows="2"
                          matAutosizeMaxRows="5">
                </textarea>
        </mat-form-field>

        <button (click)="sendExam()" mat-raised-button color="primary" type="submit">Finalizar Exame</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
