<ul class="white-text">
  <li routerLinkActive="active" ><a class="" routerLink="delegado/novo" >Cadastro de delegados</a></li>
  <li routerLinkActive="active" ><a class="" routerLink="instrutor/novo" >Cadastro de instrutores</a></li>
  <li routerLinkActive="active" ><a class="" routerLink="psicologo/novo"  >Cadastro de psicólogos</a></li>
  <li routerLinkActive="active" ><a class="" routerLink="listagem/exames" >Listagens de exames</a></li>
  <li routerLinkActive="active" ><a class=""  routerLink="listagem/instrutores" >Listagem de instrutores</a></li>
  <li routerLinkActive="active" ><a class=""  routerLink="listagem/psicologos" >Listagem de psicologos</a></li>
  <li routerLinkActive="active" ><a class=""  routerLink="listagem/delegados" >Listagem de delegados</a></li>
</ul>
