<ul class="white-text">
  <li><a class="" routerLinkActive="active" routerLink="delegado/novo" >Cadastro de delegados</a></li>
  <li><a class="" routerLinkActive="active" routerLink="instrutor/novo" >Cadastro de instrutores</a></li>
  <li><a class="" routerLinkActive="active" routerLink="psicologo/novo"  >Cadastro de psicólogos</a></li>
  <li><a class="" routerLinkActive="active" routerLink="listagem" >Listagens exames</a></li>
  <li><a class="" routerLinkActive="active" routerLink="listagem" >Listagem de instrutores</a></li>
</ul>
