<div class="right">
  <li routerLinkActive="active"><a routerLink="/duvidas">Duvidas?</a></li>
  <li routerLinkActive="active"><a routerLink="/validador">Validador</a></li>
  <li routerLinkActive="active"><a routerLink="/login" (click)="onClick()">
    {{ authService.checkLogin() ? 'Logout' : 'Login'}}
  </a>
</div>
<div class="left">
  <li *ngIf="isCivil()" routerLinkActive="active"><a routerLink="/civil">Minha página</a></li>
  <li *ngIf="isInstructor()" routerLinkActive="active"><a routerLink="/instrutor">Minha página</a></li>
  <li *ngIf="isPsychologist()" routerLinkActive="active"><a routerLink="/psicologo">Minha página</a></li>
  <li *ngIf="isDelegate()" routerLinkActive="active"><a routerLink="/delegado">Minha página</a></li>
  <li *ngIf="isAdmin()" routerLinkActive="active"><a routerLink="/admin">Minha página</a></li>
</div>
