<mat-grid-list cols="12" rowHeight="600">
  <mat-grid-tile colspan="12">
    <mat-card>
      <mat-card-title>Validador</mat-card-title>
      <mat-card-subtitle>Precisa saber se a licenca é verdadeira ou se ainda está na validade?</mat-card-subtitle>
      <mat-card-content>
        <form disabled="disable" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div
            fxLayoutWrap
            fxLayout.xs="row"
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <div fxFlex="100">
              <mat-input-container class="midle-width">
                <input matInput type="text" id="serial" (change)="onChange()" formControlName="serial"
                       placeholder="Número da licença">
              </mat-input-container>
            </div>
            <div fxFlex="100">
              <button mat-raised-button color="primary" type="submit" name="action">
                Verificar
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <div *ngIf="valid && model != null">
      <app-valid-license [license]="model"></app-valid-license>
    </div>
  </mat-grid-tile>
</mat-grid-list>



