<mat-card>
  <mat-card-header>
    O Sistema Nacional de Armas - SINARM, instituído no Ministério da Justiça, no âmbito da Polícia Federal,
      com circunscrição em todo o território nacional, é responsável pelo controle de armas de fogo
      em poder da população, conforme previsto na Lei
      <a href="http://www.planalto.gov.br/ccivil_03/leis/2003/L10.826compilado.htm">
        10.826/03 (Estatuto do Desarmamento)</a>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel *ngFor="let faq of faqs">
      <mat-expansion-panel-header>
        {{faq.header}}
      </mat-expansion-panel-header>
      <div [innerHTML]="faq.content"></div>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
