<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Listar Endereços">
        <mat-grid-list cols="12" rowHeight="30em">

          <mat-grid-tile [colspan]="6" *ngFor="let address of addressList">
            <app-user-address-list [model]="address"></app-user-address-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Adicionar Endereço">
        <mat-grid-list cols="4" rowHeight="30em">
          <app-form-address (newAddress)="newAddress($event)"></app-form-address>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
