<mat-card>
  <mat-card-content>

    <form disabled="disable" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div
        fxLayoutWrap
        fxLayout="row"
        fxLayoutAlign="center center"
      >

        <mat-card-title fxFlex="50" fxFlexOffset.xs="25" fxFlexOffset="40">Dados Pessoais</mat-card-title>

        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="text" id="name" formControlName="name"
                 placeholder="Nome Completo">
        </mat-form-field>

        <mat-form-field class="midle-width" fxFlex="100">
          <mat-select placeholder="Informe o Sexo" formControlName="gender" id="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">{{ gender?.description }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth"
                 value="{{model.dateOfBirth}}" placeholder="Data de nascimento"
                 id="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-card-title fxFlex="50" fxFlexOffset.xs="25" fxFlexOffset="40">Filiação</mat-card-title>

        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="text" id="mothersName" formControlName="mothersName"
                 placeholder="Nome da mãe">
        </mat-form-field>

        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="text" id="fathersName" formControlName="fathersName"
                 placeholder="Nome do pai">
        </mat-form-field>

        <mat-card-title fxFlex="50" fxFlexOffset.xs="25" fxFlexOffset="40">Documentos</mat-card-title>

        <mat-form-field class="two-quarts-width" fxFlex.xs="100" fxFlex="40">
          <input mask="000.000.000-00" matInput #cpf minlength="11" type="text" maxlength="11"
                 id="cpf" formControlName="cpf"
                 placeholder="CPF">
          <mat-hint align="end">{{cpf.value.length}} / 11</mat-hint>
        </mat-form-field>

        <mat-form-field class="two-quarts-width" fxFlex.xs="100" fxFlexOffset.xs="0" fxFlexOffset="10" fxFlex="40">
          <input mask="0.000.000 0" matInput #rg minlength="8" type="text" maxlength="8" id="rg"
                 formControlName="rg"
                 placeholder="RG">
          <mat-hint align="end">{{rg.value.length}} / 8</mat-hint>
        </mat-form-field>

        <mat-form-field class="two-quarts-width" fxFlex.xs="100" fxFlex="40">
          <input matInput type="text" id="rgIssuingBody" formControlName="rgIssuingBody"
                 placeholder="Orgão Emissor do RG">
        </mat-form-field>

        <mat-form-field class="two-quarts-width" fxFlex.xs="100" fxFlexOffset.xs="0" fxFlexOffset="10" fxFlex="40">
          <input matInput type="text" id="rgUF" formControlName="rgUF"
                 placeholder="UF do RG">
        </mat-form-field>

        <mat-form-field class="two-quarts-width" fxFlex.xs="100" fxFlex="40">
          <input matInput type="text" id="nationality" formControlName="nationality"
                 placeholder="Nacionalidade">
        </mat-form-field>

        <mat-form-field class="two-quarts-width" fxFlex.xs="100" fxFlexOffset.xs="0" fxFlexOffset="10" fxFlex="40">
          <input matInput type="text" id="naturalness" formControlName="naturalness"
                 placeholder="Naturalidade">
        </mat-form-field>

        <mat-card-title fxFlex="50" fxFlexOffset.xs="25" fxFlexOffset="40">Dados de Acesso</mat-card-title>

        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="password" formControlName="password" id="password"
                 placeholder="Senha">
        </mat-form-field>
        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="password" formControlName="confirmPassword" id="confirmPassword"
                 placeholder="Confirme a senha">
        </mat-form-field>

        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="email" id="email" formControlName="email"
                 placeholder="Email">
        </mat-form-field>


        <mat-card-title fxFlex="50" fxFlexOffset.xs="25" fxFlexOffset="40">Nível de Acesso</mat-card-title>

        <mat-form-field class="midle-width" fxFlex="100">
          <mat-select placeholder="Informe o nível de acesso" formControlName="role"
                      id="type">
            <mat-option *ngFor="let type of roles" [value]="type">{{type.description}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card-title fxFlex="50" fxFlexOffset.xs="25" fxFlexOffset="40">Endereço</mat-card-title>

        <mat-form-field>
          <mat-select (change)="onCountryChose($event)"
                      placeholder="Informe o Pais"
                      formControlName="country" id="country">
            <mat-option *ngFor="let country of countries"
                        [value]="country">{{country?.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select (change)="onStateChose($event)"
                      placeholder="Informe o Estado"
                      formControlName="state" id="state">
            <mat-option *ngFor="let state of states"
                        [value]="state">{{state?.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select (change)="onCityChose()"
                      placeholder="Informe a Cidade"
                      formControlName="city" id="city">
            <mat-option *ngFor="let city of cities"
                        [value]="city">{{ city?.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input mask="00000-000" matInput #postalCode maxlength="9" placeholder="CEP" id="cep" formControlName="cep"
                 (blur)="getCEP()">
          <mat-hint align="end">{{postalCode.value.length}} / 9</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput id="bairro" formControlName="neighborhood" placeholder="Bairro">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="complement" id="complemento"
                 placeholder="Complemento">
        </mat-form-field>

        <mat-form-field>
          <input matInput id="addressNumber" formControlName="addressNumber"
                 placeholder="Numero">
        </mat-form-field>

        <mat-form-field class="midle-width">
          <input matInput id="rua" placeholder="Endereço" formControlName="street">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Cadastrar</button>

      </div>
    </form>

  </mat-card-content>
</mat-card>
