<mat-grid-list cols="12" rowHeight="400">
  <mat-grid-tile colspan="12">
    <mat-card>
      <mat-card-title>Login</mat-card-title>

      <mat-card-content>
        <form disabled="disable" [formGroup]="form" (ngSubmit)="onSubmit()">

          <mat-input-container class="midle-width">
            <input matInput type="text" id="cpf" formControlName="cpf"
                   placeholder="CPF">
          </mat-input-container>

          <mat-input-container class="midle-width">
            <input matInput type="password" id="password" formControlName="password"
                   placeholder="SENHA">
          </mat-input-container>

          <button mat-raised-button color="primary" type="submit"
                  name="action">
            Login
          </button>
          <mat-card-footer>
            Ainda não tem seu cadastro? <a routerLink="/registre-se">Clique aqui</a>
          </mat-card-footer>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
