<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <h2 class="card-title center-align">Login</h2>
      <div class="row">
        <form class=" card-content">
          <div class="row">
            <div class="input-field col s12">
              <input [(ngModel)]="user.cpf" id="cpf" type="number" class="validate">
              <label for="cpf">CPF</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input [(ngModel)]="user.passwd" id="pass" type="password" class="validate">
              <label for="pass">SENHA</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p class="left-align">
                Ainda não tem seu cadastro? <a routerLink="novo">Clique aqui</a>
              </p>
              <p class="right-align">
                <button class="btn btn-large waves-effect waves-light" type="button" name="action">Login</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
