<section class="login home-section">
  <mat-grid-list cols="12" rowHeight="400">
    <mat-grid-tile colspan="12">
      <mat-card>
        <div class="container">
          <div class="section-header">
            <h2>Seja bem Vindo!</h2>
          </div>


          <mat-card-content>
            <form disabled="disable" [formGroup]="form" (ngSubmit)="onSubmit()">

              <mat-input-container fxLayout="row" class="midle-width">
                <input matInput mask="000.000.000-00" type="text" id="cpf" formControlName="cpf"
                       placeholder="CPF">
              </mat-input-container>

              <mat-input-container fxLayout="row" class="midle-width">
                <input matInput type="password" id="password" formControlName="password"
                       placeholder="SENHA">
              </mat-input-container>

              <button fxLayout="row" mat-raised-button color="primary" type="submit"
                      name="action">
                Login
              </button>
              <mat-divider></mat-divider>
            </form>
            <mat-card-footer fxLayout="row">
              Ainda não tem seu cadastro?
              <button mat-button color="link" routerLink="/login/cadastre-se">Clique aqui</button>
            </mat-card-footer>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
