<label for="name">Nome Completo</label>
<input type="text" [(ngModel)]="model.name" name="name" id="name">

<label for="sex">Sexo</label>
<input type="text" [(ngModel)]="model.sex" name="sex" id="sex">

<label for="address">Endereço</label>
<input type="text" [(ngModel)]="model.address" name="address" id="address">

<label for="dateOfBirth">Data de nascimento</label>
<input type="text" [(ngModel)]="model.dateOfBirth" name="dateOfBirth" id="dateOfBirth">

<label for="cpf">CPF</label>
<input type="text" [(ngModel)]="model.cpf" name="cpf" id="cpf">

<label for="cep">CEP</label>
<input type="text" [(ngModel)]="model.cep" name="cep" id="cep">

<label for="city">Cidade</label>
<input type="text" [(ngModel)]="model.city" name="sex" id="city">

<label for="neighborhood">Bairro</label>
<input type="text" [(ngModel)]="model.neighborhood" name="neighborhood" id="neighborhood">

<label for="addressNumber">Número da residencia</label>
<input type="text" [(ngModel)]="model.addressNumber" name="addressNumber" id="addressNumber">
