<div class="right">
  <li><a routerLink="/duvidas" routerLinkActive="active" >Duvidas?</a></li>
  <li><a routerLink="/validador" routerLinkActive="active" >Validador</a></li>
  <li><a routerLink="/login" routerLinkActive="active" >Login</a></li>
</div>
<div class="left">
  <li><a routerLink="/usuario" routerLinkActive="active" >usuarios</a></li>
  <li><a routerLink="/instrutor" routerLinkActive="active" >Instrutor</a></li>
  <li><a routerLink="/delegado" routerLinkActive="active" >Delegado</a></li>
  <li><a routerLink="/admin" routerLinkActive="active" >Admin</a></li>
</div>
