<div class="right">
  <li routerLinkActive="active"><a routerLink="/duvidas">Duvidas?</a></li>
  <li routerLinkActive="active"><a routerLink="/validador">Validador</a></li>
  <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
</div>
<div class="left">
  <li routerLinkActive="active"><a routerLink="/usuario">usuarios</a></li>
  <li routerLinkActive="active"><a routerLink="/instrutor">Instrutor</a></li>
  <li routerLinkActive="active"><a routerLink="/psicologo">Psicologo</a></li>
  <li routerLinkActive="active"><a routerLink="/delegado">Delegado</a></li>
  <li routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
</div>
