<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit()" disabled="disable">

    <md-input-container class="midle-width">
      <input mdInput [(ngModel)]="model.name" required type="text" name="name" (input)="onInput()" id="name" placeholder="Nome Completo">
    </md-input-container>

    <md-select placeholder="Informe o Sexo" required [(ngModel)]="model.sex" name="sex" id="sex">
      <md-option *ngFor="let sexo of sexos" [value]="sexo">{{ sexo?.description }}</md-option>
    </md-select>

    <md-input-container class="two-quarts-width">
      <input mdInput [(ngModel)]="model.password" type="password" name="password" id="password" required placeholder="Senha">
    </md-input-container>

    <md-input-container class="midle-width">
      <input mdInput [(ngModel)]="model.email" type="email" email name="email" id="email" required placeholder="Email">
    </md-input-container>

    <md-input-container class="">
      <input mdInput #cpf [(ngModel)]="model.cpf" minlength="11" type="text" maxlength="11" name="cpf" id="cpf" required
      placeholder="CPF">
      <md-hint align="end">{{cpf.value.length}} / 11</md-hint>
    </md-input-container>

    <md-input-container>
      <input mdInput [mdDatepicker]="picker" required [(ngModel)]="model.dateOfBirth"
      value="{{model.dateOfBirth}}" placeholder="Data de nascimento"
      name="dateOfBirth" id="dateOfBirth">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

    <div ngModelGroup="endereco">
      <h3 class="center">Seu endereço</h3>

      <md-input-container class="">
        <input mdInput #postalCode maxlength="9" placeholder="CEP" [(ngModel)]="model.cep" name="cep" id="cep"
        required (blur)="getCEP($event.target.value, form )">
        <md-hint align="end">{{postalCode.value.length}} / 9</md-hint>
      </md-input-container>

      <md-input-container class="">
        <input mdInput [(ngModel)]="model.neighborhood" name="bairro" id="bairro" required placeholder="Bairro">
      </md-input-container>

      <md-input-container class="">
        <input mdInput [(ngModel)]="model.complement" name="complemento" id="complemento" required
        placeholder="Complemento">
      </md-input-container>

      <md-input-container class="">
        <input mdInput [(ngModel)]="model.addressNumber" name="addressNumber" id="addressNumber" required
        placeholder="Numero">
      </md-input-container>

      <md-input-container class="">
        <input mdInput [(ngModel)]="model.state" name="estado" id="estado" required placeholder="Estado">
      </md-input-container>

      <md-input-container class="midle-width">
        <input mdInput [(ngModel)]="model.city" name="cidade" id="cidade" required placeholder="Cidade">
      </md-input-container>

      <md-input-container class="midle-width">
        <input mdInput [(ngModel)]="model.street" name="rua" id="rua" required placeholder="Endereço">
      </md-input-container>

    </div>

    <div *ngIf="isClient">
      <md-select placeholder="Informe o nível de acesso" required [(ngModel)]="model.role" name="type" id="type">
        <md-option *ngFor="let type of roles" [value]="type">{{type.description}}</md-option>
      </md-select>
    </div>
    <button class="btn" [disabled]="!form.valid" type="submit">Cadastrar</button>
  </form>
</div>
