<mat-card>
  <mat-card-content>
    <mat-card-title>Endereço</mat-card-title>

    <p><strong>CEP:</strong> {{model.cep}}</p>
    <p><strong>Pais:</strong> {{model.city.state.country.description}}</p>
    <p><strong>Estado:</strong> {{model.city.state.description}}</p>
    <p><strong>Cidade:</strong> {{model.city.description}}</p>
    <p><strong>Bairro:</strong> {{model.neighborhood}}</p>
    <p><strong>Rua:</strong> {{model.street}}</p>
    <p><strong>Nº:</strong> {{model.addressNumber}}</p>
    <p><strong>Complemento:</strong> {{model.complement}}</p>
  </mat-card-content>
</mat-card>

