<div class="col s4 m4">
  <mat-card>
    <mat-card-title>Endereço</mat-card-title>
    <mat-card-content>
      <p> CEP: {{model.cep}}</p>
      <p> Pais: {{model.city.state.country.description}}</p>
      <p> Estado: {{model.city.state.description}}</p>
      <p> Cidade: {{model.city.description}}</p>
      <p> Bairro: {{model.neighborhood}}</p>
      <p> Rua: {{model.street}}</p>
      <p> Nº: {{model.addressNumber}}</p>
      <p> Complemento: {{model.complement}}</p>
    </mat-card-content>
  </mat-card>
</div>
