/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.fixed{
  width: 200px;
  margin-top: 65px;
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

