<div class="card">
  <h2 class="card-title">Dados de: {{model.name}}</h2>
  <div class="card-content">
    <h2 class="card-title">Dados pessoais</h2>
    <div class="container">
      <p> CPF: {{model.cpf}}</p>
      <p> Sexo: {{gender.description}}</p>
      <p> Data de Nascimento: {{model.dateOfBirth}}</p>
      <p> E-mail: {{model.email}}</p>
    </div>
    <app-shared-user-address-list *ngFor="let address of model.addressList" [model]="address" ></app-shared-user-address-list>
  </div>
</div>
